<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${kysymys.kysymysteksti}"></span></h1>

        Kurssi: <span th:text="${kysymys.kurssi}"></span><br/>
        Aihe: <span th:text="${kysymys.aihe}"></span>

        <ul>
            <li th:each="vastaus : ${vastaukset}">
                <span th:text="${vastaus.vastausteksti}"/>
                <div th:if="${vastaus.oikein} == true">
                    <strong>oikein</strong>
                </div>
                <div th:if="${vastaus.oikein} == false">
                    <strong>väärin</strong>
                </div>
            </li>
        </ul>
    </body>
</html>
